.App {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 90vw;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: rgba(240, 243, 247, 1) 1px solid;
    border-radius: 16px;
}

.header {
    font-weight: 500;
    margin: 10px 0;
}

.titles {
    width: 100%;
    height: 32px;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr 4fr 9fr 6fr 2fr;
    justify-items: center;
    align-items: center;
    gap: 2px;
    font-weight: 500;
    font-size: 13px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-color: rgba(240, 243, 247, 1);
}

.paginator {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 32px;
    padding: 0 16px;
    gap: 5px;
}

.paginator button {
    width: 24px;
    height: 24px;
           }